<div>
    <h1>Products list using WebSockets</h1>

    {{#each products}}
        <div>
            <p><b>ID:</b> {{this.id}} / <b>Product name:</b> {{this.title}}</p>
            <ul>
                <li>{{this.description}}</li>
                <li>{{this.stock}}</li>
            </ul>
        </div>
    {{/each}}
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>
