<div>
    <h1>Products list using WebSockets</h1>
    <div id="hola_div">
    </div>
    <div id="add-product-form">
        <form>
            <div>
                Title:
                <input id="title"></input>
            </div>
            <div>
                Category:
                <input id="category"></input>
            </div>
            <div>
                Description:
                <input id="description"></input>
            </div>
            <div>
                Price:
                <input id="price"></input>
            </div>
            <div>
                Code:
                <input id="code"></input>
            </div>
            <div>
                Stock:
                <input id="stock"></input>
            </div>
            <div>
                Status:
                <input id="status"></input>
            </div>
            <button type='submit' id="form-btn" > + CART </button>
        </form>
    </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>
