<div class="body_container">
    <section class="top-nav">
        <div style= "height: 100%;">
            <img style= "height: 100%;" src="https://i.ibb.co/mTvfMr6/logo.png">
        </div>
        <input id="menu-toggle" type="checkbox" />
        <label class='menu-button-container' for="menu-toggle">
            <div class='menu-button'></div>
        </label>
    </section>
    <h1>Register</h1>
    <div class="register_container">
        <form id="registerForm">
            <label>Name:</label>
            <input autofocus="autofocus" class="input_form" name="first_name">
            <label>Last name:</label>
            <input class="input_form" name="last_name">
            <label>Email:</label>
            <input class="input_form" name="email">
            <label>Age:</label>
            <input class="input_form" name="age">
            <label>Password:</label>
            <input class="input_form" name="password">
            <input value="Sign in" class="input_btn" type="submit">
        </form>
        </br>
        <p>Already registered? <a href="/users/login">Login here</a></p>
    </div>
</div>
<script src="/js/register.js"></script>